.idea
vendor/
node_modules/
.env
env.php
getUid.php
dock-helpers.sh
dock.sh
docker-compose.yml
docker-jenkins-start.sh
lighthouse.sh
stacks.sh
update_docker_assets_file.sh
composer.phar
.env.*.bk
/get_docker_assets.sh
